.background {
  background-image: url("../../../public/playground.png");
  background-repeat: no-repeat;
  background-size: 2000px;
  background-color: lightsalmon;
}
body {

    background-color: lightgoldenrodyellow;
    color: white;
    font-family: "Poppins", sans-serif;
  }
  


  .p {
    color:white;
    display:flex;
    text-align:center;
  }

  