#grid {
    object-fit: cover;
    border-radius: 2rem;
    height: 100%;
    max-width: 100%;
    width: 300px;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: center;
   
    
 
}
img:hover {
    border-radius: 0;
}
.Container {
    margin: 2rem;
    justify-items: center;
}
/*
@media (max-width: 576px) {
    
    img {
        width:  100px;
        height: 100px;
        object-fit: cover;
        border-radius: 5rem;
        justify-content: space-around;
    }
}

*/