img {
    object-fit: cover;
    border-radius: 3rem;
    height: 100%;
    max-width: 100%;
 
}
/*
@media (max-width: 576px) {
    
    img {
        width:  100px;
        height: 100px;
        object-fit: cover;
        border-radius: 5rem;
        justify-content: space-around;
    }
}

*/