nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    
}



li {
    justify-content:space-between;
   //border: 2px solid black;
    //border-radius:1vh;
}
header a {
    text-decoration: none;
    
  }
  
  header {
    background-color: rgb(35, 176, 247);
    justify-content: space-around;
   height: auto;
  
   
    
  }
  img {

  }
  #brand {
    margin-left:2rem;
    margin-right: 2rem;
    font-weight: bold;
    font-size: 18px;
    align-items: center;
    text-align: center;
    diplsay:inline-block;
    
  }
  
  #brand a {

    color: lightsalmon;

    

  }
  
  ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: right;
    justify-content: space-around;
    text-align:right;
  }
  
  ul a {
    color: coral;
    
  }
  
  ul li {
    padding: 5px;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: space-between;
    
  }
  
  ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }
  
  
  #hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
  }
  
  #hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .open .bar2 {
    opacity: 0;
  }
  
  .open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }
  
  .open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
  }
  
  .mobile-menu li {
    margin-bottom: 10px;
  }
  
  @media only screen and (max-width: 600px) {
    nav {
      display: none;
    }
  
    #hamburger-icon {
      display: block;
    }
  }