#para {
    color:black;
    justify-content: space-around;
    overflow: auto;
    display:inline-block;
    align-items: left;
    padding:50px;
    text-indent: 25px;

}
.container {

}
@media only screen and (max-width: 600px) {
    p {
      font-size: 16px;
      
    }

}

img {
    display: flex;
    items-align: center;
    text-align: center;
    align-items:center;
    padding:2rem;
    width: 300px;
}