#para {
    color:black;
    justify-content: space-around;
    display:inline-block;
    margin-left: 2rem;
    margin-right: 2rem;
    align-items: left;
    padding-left:50px;
    padding-right:50px;
    padding-bottom:20px;
    text-indent: 25px;

}
.container {
    
    position:flex;

}
@media only screen and (max-width: 600px) {
    p {
      font-size: 16px;
      
    }

}

h1 {
    font-size:18px;
    margin-top:1em;
    margin-top:5px;
    padding: 0;
}

img {
    display: flex;
    text-align: center;
    align-items:center;
    padding:2rem;
    width: 300px;
}